[submodule "OneDrive/Documentos/gerador2/OneDrive/Documentos/gerador2/Gerador_de_SenhasRN"]
	path = OneDrive/Documentos/gerador2/OneDrive/Documentos/gerador2/Gerador_de_SenhasRN
	url = https://github.com/GuilhermeHRG/Gerador_de_SenhasRN.git
